.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;

    /* disable scroll anchoring */
    overflow-anchor: none;
    width: 100%;
    height: 100%;
}

.scroller:not(._disable_snapping) {
    scroll-snap-type: x mandatory;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.control {
    position: absolute;
    top: 200px;
    z-index: 3;
}

.controlLeft {
    left: 20px;
}

.controlRight {
    right: 20px;
}

.item {
    --pos: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.itemActive {
    /* Optional: add styles for active item */
}

.indicators {
    position: absolute;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 4;
    pointer-events: none;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    transition: width 0.15s linear;
}

.indicatorActive {
    width: 20px;
}