.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;

    /* disable scroll anchoring */
    overflow-anchor: none;
    width: 100%;
    height: 100%;
}

.scroller:not(._disable_snapping) {
    scroll-snap-type: x mandatory;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.control {
    position: absolute;
    top: 200px;
    z-index: 3;
}

.controlLeft {
    left: 20px;
}

.controlRight {
    right: 20px;
}

.item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.itemActive {
    /* Optional: add styles for active item */
}
