.container {
    position: relative;
}

.scroller {
    display: flex;
    flex-direction: row;
    gap: 55px;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    padding: 100px 0;
    /* disable scroll anchoring */
    overflow-anchor: none;
}

.control {
    position: absolute;
    top: 200px;
    z-index: 2;
}

.controlLeft {
    left: 20px;
}

.controlRight {
    right: 20px;
}

.item {
    scroll-snap-align: center;
    position: relative;
    z-index: 1;

    --pos: 0;

    /*
     Example of how to downscale position to start element transition later on timeline.
     Math:
     const offset = 0.4
     const scaledPos = Math.min(0, (pos - offset) / (1 - offset))
     In this example, element starts transition when scroll moved 40% inside
     of hot zone
    */
    --scaled-offset: 0.4;
    --scaled-pos: max(0, calc((var(--pos) - var(--scaled-offset)) / (1 - var(--scaled-offset))));
}

.itemActive {
    /* background: yellow; */
}

.itemContent {
    width: 195px;
    height: 240px;
    background: red;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    will-change: transform, opacity;

    opacity: calc(0.5 + var(--pos) * 0.5);
    position: relative;
}
