.container {
    position: relative;
}

.scroller {
    display: flex;
    flex-direction: row;
    gap: 55px;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    padding: 100px 0;
    /* disable scroll anchoring */
    overflow-anchor: none;
}

.control {
    position: absolute;
    top: 200px;
    z-index: 2;
}

.controlLeft {
    left: 20px;
}

.controlRight {
    right: 20px;
}

.item {
    scroll-snap-align: center;
    position: relative;
    z-index: 1;

    --pos: 0;

    /*
     Example of how to downscale position to start element transition later on timeline.
     Math:
     const offset = 0.4
     const scaledPos = Math.min(0, (pos - offset) / (1 - offset))
     In this example, element starts transition when scroll moved 40% inside
     of hot zone
    */
    --scaled-offset: 0.4;
    --scaled-pos: max(0, calc((var(--pos) - var(--scaled-offset)) / (1 - var(--scaled-offset))));
}

.itemActive {
    background: yellow;
}

.itemContent {
    width: 195px;
    height: 240px;
    background: red;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    will-change: transform, opacity;

    opacity: calc(0.5 + var(--pos) * 0.5);
    position: relative;
}

.product a {
    width: 195px;
    height: 240px;
    position: relative;
    display: block;
}

.product h3 {
    color: #fff;
    padding: 10px;
    margin: 0;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    backdrop-filter: blur(2px) contrast(80%);
    transform-origin: 50% 0;
    font-size: inherit;
    line-height: inherit;
}

.productBg {
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 140%;
    height: 140%;
    left: -20%;
    top: -20%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    will-change: width, height, left, top, font-size, line-height;
    background-color: #fc7348;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f7a9a9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    transform: scale(calc(0.6 + 0.4 * var(--pos)));
}

.productImage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    will-change: transform;

    transform: translateY(calc(20px * var(--pos))) scale(calc(1 + var(--pos) * 0.667));
}

.productImage img {
    height: 200px;
    width: auto;
    margin: -50%;
    transform: scale(0.6);
    box-shadow: 0 3px 15px #0000009b;
}

.productInfo {
    width: 270px;
    margin-right: -200px;
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    left: -38px;
    z-index: 3;
    opacity: 0;
    will-change: transform, opacity;
    transform-origin: 50% 0;
    transform: translateY(calc(45px * var(--scaled-pos))) scale(calc(0.6 + 0.4 * var(--scaled-pos)));
    color: #000;

    opacity: var(--scaled-pos);
}

.productPrice {
    font-size: 18px;
    font-weight: 500;
    color: #C54944;
    margin-top: 5px;
}

.productPrevPrice {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 10px;
}

.productComment {
    margin-top: 15px;
    margin-bottom: 5px;
}

.productInfo button {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #9C2827;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    appearance: none;
    border: 0;
}
