.container {
    position: relative;
}

.scroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;

    /* disable scroll anchoring */
    overflow-anchor: none;
}

.scroller._mobile:not(._disable_snapping) {
    scroll-snap-type: x mandatory;
}

.scroller._desktop {
    padding: 100px 0;
    gap: 55px;
}

.control {
    position: absolute;
    top: 200px;
    z-index: 3;
}

.controlLeft {
    left: 20px;
}

.controlRight {
    right: 20px;
}

.item {
    /*
     This var is updated according to scroll position, from 0 to 1.
     1 means that the item is in the center of the scroller viewport
    */
    --pos: 0;

    /*
     Example of how to downscale position to start element transition later on timeline.
     Math:
     const offset = 0.4
     const scaledPos = Math.min(0, (pos - offset) / (1 - offset))
     In this example, element starts transition when scroll moved 40% inside
     of hot zone
    */
    --scaled-offset: 0.4;
    --scaled-pos: max(0, calc((var(--pos) - var(--scaled-offset)) / (1 - var(--scaled-offset))));
}

.item._desktop {
    position: relative;
    z-index: 1;
}

.item._mobile {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.indicators {
    position: absolute;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 4;
    pointer-events: none;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    transition: width 0.15s linear;
}

.indicatorActive {
    width: 20px;
}